.card {
  font-size: 12px;
  line-height: 18px;
  font-family: OpenSans,Arial,sans-serif;
  box-sizing: border-box;
  color: inherit; 
  padding: 0;
  margin: 0;
}

.hint{
  display: block;
  color: #757575;
  margin-top: 2px;
}